form input{
    width: 100%;
    /* background-color: black; */
    height: 5vh;
}
form {
    width: 100%;
    margin-top: 3%;
}
/* #image{
    width: 100px;
    height: 100px;
}
#details-card{
    background-color: brown;
} */